body{
    padding: 0;
    margin: 0;
}
button{
    border-width: 2px;
    border-radius: 10px;
    background-color: #9B3324;
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: rgb(160, 160, 160);
}
hr{
    padding:0;
    margin: 0;
}

.mini_banner{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #9B3324;
    height: 60px;
    width: auto;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}
.mini_banner p{
    display: flex;
    color: white;
    text-align: center;
    animation: mover-izquierda-derecha 8s infinite;

}
@keyframes mover-izquierda-derecha{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}
.encabezado{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.logo{
    display: flex;
    justify-content:start;
    align-items: center;
}
.logo img{
    height: 125px;
    width: auto;
}
.logo a{
    text-decoration: none;
    font-size:40px;
    font-weight: bold;
    color: black;
}
.login{
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 20px;
}
.login img{
    align-items: end;
    width: 25px;
    height: 25px;
}
.login a{
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;

}
.menu a{
    text-decoration: none;
    color: black;
    padding-left: 80px;
}

.carrousel{
    width: 100%;
    height: 400px;
    max-width: 120em;
    background-image: url(/img/dragones_y_mazmorras.jpg);

}
.carrousel .grande{
    align-items: center;
    width: 100%;
    color: aliceblue;
}
.carrousel .puntos{
    width: 100%;
    background-color: #9B3324;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrousel .punto{
    width: 1em;
    height: 1em;
    background-color: blue;
    margin: 1em;
}
.productos {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    padding: 60px 0 60px 0;
  }
  .productos a{
    align-self: flex-start;
    color: black;
    text-decoration: none;
  }
  
  .productos h5{
      font-size: large;
      font-weight: bold;
      margin: 2px;
  }
  .productos h6{
      font-size: large;
      font-weight: bold;
      margin:2px;
  }
      
  .productos p{
      font-size: large;
      font-weight: bold;
      margin:2px;
  }
  .producto1 {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 10px;
  }
  .producto2 {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 10px;
  
  }
  .producto3 {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 10px;
  
  }
  .producto4 {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 10px;
  
  }
  .producto5 {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 10px;
  
  }
.newsletter{
    margin-top: 0;
    background-color: rgb(243, 239, 239);
}

.pie_pagina{
    margin: 30px;
    margin-left: 100px;
    display: flex;
    justify-content:space-between;
}
.pie_pagina button{
    width: 200px;
    height: 50px;

}

.pie_pagina button a{
    font-weight: bold;
}
.copyright{
    display: flex;
    font-weight: bold;
    color: #9B3324;
}
.redes_sociales{
    display: flex;
    gap: 10px;
    height: 45px;
  }
  a{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }